---
import type { Denuncias } from "../../lib/data.ts";

interface Props {
    denuncia: Denuncias;
}

const { denuncia } = Astro.props;
const { id, titulo, descripcion, estado, prioridad, fecha } = denuncia;
---

<article
    class="w-full hover:bg-white rounded-2xl border border-zinc-300 shadow-lg hover:shadow-2xl transition-transform duration-300"
>
    <a href={`denuncia/${id}`} class="block h-full p-7">
        <header class="flex mb-4 gap-3">
            <span
                class="bg-green-100 text-green-700 text-xs font-bold px-3 py-1 rounded-full"
                transition:name=`denuncias ${id} estado`
            >
                {estado}
            </span>
            <span
                class="bg-red-100 text-red-600 text-xs font-bold px-3 py-1 rounded-full"
                transition:name=`denuncias ${id} prioridad`
            >
                {prioridad}
            </span>
        </header>

        <h2
            class="text-lg font-bold text-[#0c3b87] mb-3"
            transition:name=`denuncias ${id} titulo`
        >
            {titulo}
        </h2>

        <p
            class="text-sm text-gray-700 line-clamp-3"
            transition:name=`denuncias ${id} descripcion`
        >
            {descripcion}
        </p>

        <footer class="mt-4 text-xs text-gray-500">
            Fecha de denuncia: <span
                class="font-semibold"
                transition:name=`denuncias ${id} fecha`>{fecha}</span
            >
        </footer>
    </a>
</article>
