---
import type { Denuncias } from "../../lib/data.ts";

interface Props {
    denuncia: Denuncias;
}

const { denuncia } = Astro.props;
// Sincronizamos con los nuevos campos: categoria, fecha_creacion
const { id, categoria, descripcion, estado, fecha_creacion } = denuncia;
---

<article
    class="w-full hover:bg-white rounded-2xl border border-zinc-300 shadow-lg hover:shadow-2xl transition-transform duration-300"
>
    <a href={`denuncia/${id}`} class="block h-full p-7">
        <header class="flex mb-4 gap-3">
            <span
                class="bg-green-100 text-green-700 text-xs font-bold px-3 py-1 rounded-full"
                data-transition-name={`denuncias ${id} estado`}
            >
                {estado}
            </span>
        </header>

        <h2
            class="text-lg font-bold text-[#0c3b87] mb-3"
            data-transition-name={`denuncias ${id} categoria`}
        >
            {/* Usamos el nuevo campo 'categoria' como título */}
            {categoria}
        </h2>

        <p
            class="text-sm text-gray-700 line-clamp-3"
            data-transition-name={`denuncias ${id} descripcion`}
        >
            {descripcion}
        </p>

        <footer class="mt-auto text-xs text-gray-500">
            {/* Usamos el nuevo campo 'fecha_creacion' */}
            Fecha de creación: <span class="font-semibold"
                >{fecha_creacion}</span
            >
        </footer>
    </a>
</article>
